coverage/
*.tsbuildinfo
node_modules/
.ultra.cache.json
.DS_Store
tmp/
build/
dist/
.direnv/

# files
/src/tsconfig.json
/dist
/Alternative
/Applicative
/Bicovariant
/Bounded
/Chainable
/Contravariant
/Coproduct
/Covariant
/Filterable
/FlatMap
/Foldable
/Invariant
/Monad
/Monoid
/Of
/Pointed
/Product
/SemiAlternative
/SemiApplicative
/SemiCoproduct
/SemiProduct
/Semigroup
/Traversable
/TraversableFilterable
/data
